In [6]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from spike_tools import (
    general as spike_general,
    analysis as spike_analysis,
)
import behavioral_utils
from constants import FEATURES

species = 'nhp'
subject = 'SA'
exp = 'WCST'
session = 20180802  # this is the session for which there are spikes at the moment.

In [2]:
behavior_file = spike_general.get_behavior_path(subject, session)
behavior_data = pd.read_csv("/data/sub-SA_sess-20180802_object_features.csv")
valid_beh = behavior_data[behavior_data.Response.isin(["Correct", "Incorrect"])]

In [10]:
x_by_bins = behavioral_utils.get_X_by_bins(50, valid_beh)

In [11]:
x_by_bins.to_pickle('/data/processed/sub-SA_sess-20180802_behavior_binsize_50.pickle')

### Grab bin idxs of interval around fb onset

In [8]:
intervals = behavioral_utils.get_trial_intervals(valid_beh, pre_interval=1500, post_interval=1500, bin_size=50)

In [82]:
intervals.to_pickle("/data/processed/sub-SA_sess-20180802_interval_1500_fb_1500_binsize_50.pickle")

### Grab design matrix for intervals

In [9]:
intervals

,TrialNumber,IntervalStartTime,IntervalEndTime,IntervalStartBin,IntervalEndBin
0,0,754088.0,757088.0,15081,15141
1,1,757892.0,760892.0,15157,15217
2,2,762080.0,765080.0,15241,15301
3,3,766144.0,769144.0,15322,15382
4,4,771945.0,774945.0,15438,15498
...,...,...,...,...,...
1745,1745,13652545.0,13655545.0,273050,273110
1746,1746,13656221.0,13659221.0,273124,273184
1747,1747,13668992.0,13671992.0,273379,273439
1748,1748,13673866.0,13676866.0,273477,273537
1749,1749,13684869.0,13687869.0,273697,273757

In [12]:
x_by_bins

,CIRCLE,SQUARE,STAR,TRIANGLE,CYAN,GREEN,MAGENTA,YELLOW,ESCHER,POLKADOT,RIPPLE,SWIRL,CORRECT,INCORRECT,bin_idx
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273825
273826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273826
273827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273827
273828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273828
273829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,273829

In [ ]:
# pre_interval, post_interval, bin_size
# for interval in intervals
# generate bin idx
window_size = 

for row in intervals.iterrows():
    trial_bins = np.arange(row.IntervalStartBin, row.IntervalEndBin)